.imd {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

img {
    width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

body {
    border: 1px;
    padding: 20px;
    background: #ccd0f1;
    margin: 50px 100px 50px 100px;
}

html {
    background: #333;
}

p {
    font-size: 20pt;
}

h2 {
    font-size: 35pt;
    text-align: center;
    background: #eeeea0;
    border-radius: 30px;
}

h1 {
    color: black;
    background: #7ec879;
    text-decoration: none;
    padding: 2px;
    font-size: 35pt;
    border-radius: 30px;
    text-align: center;
}

a {
    outline: none;
    color: #265301;
    font-size: 20pt;
    margin-left: 0px;
    text-decoration: none;
    background: #7ec879;
    border-radius: 5px;
}

a:hover {
    border-bottom: 1px solid;
}

.kiev {
    color: black;
    background: #7ec879;
    border-bottom: none;
    text-decoration: none;
    padding: 2px;
    font-size: 35pt;
    border-radius: 30px;
}

a:hover.kiev {
    border-bottom: none;
    text-decoration: none;
    background: #7ec879;
}